@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat&display=swap');

body {
    font-family:'Lora', serif;
}

body html {
    margin: 0;
    padding: 0;
}

.row {
    padding:0;
    margin:0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #2e5b45;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.jumbo-h2 {
    color: #3a7257;
    margin-bottom: 3rem;
}

/******************Background Image*********************/
.backgroundimg {
    background: url("/assets/img/tree-fern.jpg") no-repeat center center;
    background-size: cover;
    height: 600px;
    width: 100%;
}

/******************Section 1*********************/
.jumbotron {
    background-color: rgba(255, 255, 255, 0.7);
    height: 500px;
    width: 500px;
    text-align: center;
    margin: 0;
    background-position: center;
    margin-top: 50px;
}

.leaf-logo {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

h6 {
    margin-bottom: 20px;
}

.btn {
    background-color:#5b5299;
    color: white;
    text-decoration: none;
    margin-top: 1rem;
}

/******************Section 2 - about*********************/

.container-about {
    padding: 0;
    margin: 0;
}

.container-about h4 {
    margin-bottom: 20px;
}

.container-about p{
    padding-bottom: 50px;
}

.about-image {
    margin: 0 auto;
}
.col-about {
    text-align: center;
    margin: 0 auto;
    padding: 200px;
}


.col-about h3{
    margin-top: 1em;
}

.about-text {
    text-align: center;
    margin-top: 50px;
}

.col-img {
    width: 150px;
    padding:0;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
 }

/******************Section 3 - support*********************/

.support-img {
    background: url("/assets/img/leaf-background.png") no-repeat center center;
    background-size: cover;
    height: 125%;
    width: 100%;
}

.support-img h4 {
    text-align: center;
    padding: 30px;
    font-weight: 550;
}


.circle-container {
    width: 125px;
    height: 125px;
    padding: 5px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
.circle-cover-bg {
    background: url(/assets/img/child.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.circle-cover-bg2 {
    background: url(/assets/img/family-in-woods.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.circle-cover-bg3 {
    background: url(/assets/img/bluebells.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.support-text {
    text-align: center;
    margin-top: 30px;
}

.support-tagline {
    text-align: center;
    margin-top: 30px;
}

/******************Section 3 - contact*********************/

#contact-us {
    margin-top: 30px;
}

.contact-image {
    background: url(/assets/img/mushroom.jpg) no-repeat center center;
    background-size: cover;
    min-height: 600px;
}

.contact-form {
    background-color: #5b5299;
    min-height: 600px; 
}

.contact-text {
    margin-top: 30px;
    margin-left: 30px;
}


.contact-text h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

.contact-text h5 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.contact-text p {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.form-content {
    margin: 35px;
}

/******************Footer*********************/

.uppercase {
    text-transform: uppercase;
    padding-top: 20px;
    text-align: center;
}

.general-sub {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
}

footer {
    background-color: #1c440a;
    color: white;
    min-height: 120px;
    text-align: center;
}

.inline-block {
    display: inline-block;
    font-size: 12px;
    text-align: center;
}



.social-links i {
    font-size: 25px;
    color: white;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links i:hover {
    background-color:brown;
}