@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat&display=swap');

body {
    font-family:'Lora', serif;
}

body html {
    margin: 0;
    padding: 0;
}

.row {
    padding:0;
    margin:0;
}

/******************Background Image*********************/
.backgroundimg {
    background: url("/assets/img/tree-fern.jpg") no-repeat center center;
    background-size: cover;
    height: 600px;
    width: 100%;
}

/******************Section 1*********************/
h1 {
    font-family: 'Montserrat', sans-serif;
    color: #2e5b45;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.jumbo-h2 {
    color: #2e5b45;
    margin-bottom: 3rem;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.7);
    height: 500px;
    width: 500px;
    text-align: center;
    margin: 0;
    background-position: center;
    margin: 0 auto;
    margin-top: 30px;

}

.leaf-logo {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

h6 {
    margin-bottom: 20px;
}

.btn {
    background-color:#5b5299;
    color: white;
    text-decoration: none;
    margin-top: 1rem;
}

/******************Section 2 - about*********************/
#about-us {
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.about-image {
    background-color:antiquewhite;
    background-size: cover;
    min-height: 600px;
    background: url("/assets/img/moss.jpg") no-repeat center center;
}

.about-us-text {
    min-height: 400px; 
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.about-text {
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
}

.about-text h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

.about-text h5 {
    text-align: center;
    margin-bottom: 30px;
}

.about-us-text p {
    text-align: center;
    padding-top: 20px;
}

.support-info {

}

/******************Section 3 - support*********************/

.support-img {
    background: url("/assets/img/leaf-background.png") no-repeat center center;
    background-size: cover;
    height: 125%;
    width: 100%;
}

.support-img h4 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 300;
}

.text-highlight {
    color: #1c440a;
}
.circle-container {
    width: 125px;
    height: 125px;
    padding: 5px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
.circle-cover-bg {
    background: url(/assets/img/child.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.circle-cover-bg2 {
    background: url(/assets/img/family-in-woods.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.circle-cover-bg3 {
    background: url(/assets/img/bluebells.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

.support-text {
    text-align: center;
    margin-top: 30px;
}

.support-tagline {
    text-align: center;
    margin-top: 30px;
}

/******************Section 3 - contact*********************/

#contact-us {
    margin-top: 30px;
}

.contact-image {
    background: url(/assets/img/mushroom.jpg) no-repeat center center;
    background-size: cover;
    min-height: 600px;
}

.contact-form {
    background-color: #5b5299;
    min-height: 600px; 
}

.contact-text {
    margin-top: 30px;
    margin-left: 30px;
}


.contact-text h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

.contact-text h5 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.contact-text p {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.form-content {
    margin: 35px;
}

/******************Footer*********************/

.uppercase {
    text-transform: uppercase;
    padding-top: 20px;
    text-align: center;
}

.general-sub {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
}

footer {
    background-color: #1c440a;
    color: white;
    min-height: 120px;
    text-align: center;
}

.inline-block {
    display: inline-block;
    font-size: 12px;
    text-align: center;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  text-align: center;
  color: #1c440a;
  background: white;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #5b5299;
  color: white;
}